@media screen and (max-width: 576px) {
    .padding-top-login{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .card {
        margin-top: 18px !important;
    }
    .padding-top-reg{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .margin-header{
        margin-top: 15px;
    }
    .margin-card-top{
        margin-top: 10px;
    }
    .my-form{
        width: 90%;
    }

}
@media screen and (min-width: 577px) and (max-width: 768px){
    .margin-card-top{
        margin-top: 10px;
    }
}

@media screen and (min-width: 576px) {
    .padding-top-login{
        padding-top: 10%;
    }
    .card {
       margin-left: 10px !important;
    }
    .padding-top-reg{
        padding-top: 7%;
    }
    .width-main{
        width: 990px;
    }
    .border-rad-quote{
        border-top-left-radius: 12px;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 12px;
        padding: 15px;
    }
    .margin-header{
        margin-left: 15px;
    }
    .margin-header-bottom{
        margin-bottom: 25px;
    }
    .my-form{
        width: 60%;
    }

}
@media screen and (max-width: 1366px){
    .card {
        width: 320px !important;
        height: 450px;
    }
    .scroll_content{
        height: 320px;
        overflow-y: auto;
    }
}
@media screen and (min-width: 1367px) {
    .card {
        width: 320px !important;
        height: 650px;
    }
    .scroll_content{
        height: 520px;
        overflow-y: auto;
    }
}
.body-background-all{
    background-color: rgba(118,159,208, 0.07);
}
.body-background-start{
    background-image: url("/public/img/background-start.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.body-background-feedback{
    background-image: url("/public/img/feedback.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_page{
    margin-top: 20px;
}
.main-div{
    min-height: calc(100vh - 60px);
}
.footer-pad{
    width: 100%;
}
.my-form-group{
    margin-left: 15px;
}

.logout{
}
.admin_top{
    margin-top: 15px;
}
.admin-delete {
    margin-top: 5px;
}
#preview-card{
    display: none;
}
.margin-top-history{
    margin-top: 15px;
}

.crop{
    margin: 10px auto;
    height: 100px;
    overflow: hidden;
}

.crop img{
    border-radius: 10px;
    height: inherit;
}
.card-body{
    padding-top: 0;
}

.bottom-buttons{
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
}

.margin-left-15{
    margin-left: 15px;
}
.list-group-item{
    padding: 3px;
}
.background-card-style{
    background-color: #cdc6ba;
    background-size: cover;
    background-position-x: -70px;
    background-blend-mode: overlay;
}

.margin-bottom-0{
    margin-bottom: 0;
}
.margin-right-15{
    margin-right: 15px;
}
.img-error{
    width: 400px;
}
.margin-error{
    margin-top: 15px;
}

.margin-footer-bottom{
    margin-bottom: 10px;
}